@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
}
p{
    margin: 0.75rem 0;
}
/* utility classes các lớp tiệm ích*/
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.text-center{
  text-align: center;
}
.text-primary{
    color:#93cb52;
}
.bg-light{
    background:#f4f4f4;
    color: #333;
}
.bg-dark{
    background:#333;
    color: #fff;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.btn{
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background: #7ab436;

}
.btn-dark{
    background: #333;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    display: inline-block;
}
.bg-primary{
    background: #93cb52;
    color: #fff;
}
.list{
    margin: 0.5rem 0;
    list-style: none;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}
/* navbar */
#navbar{
    display: flex;
    position: sticky;
    top:0;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,0.5));

    color: #FFF;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
    opacity: 3;

}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;

}
#navbar ul li a{
    color: #FFF;
    padding: 0.75rem;
    margin: 0 0.25rem;


}
#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}
#navbar:active{
    opacity: 0;
}
/*bài 1*/
/*show case*/
#home {
    background-color:#333;
}

#showcase{
    background-position: center center;
background-size:cover;
background-repeat: no-repeat;
animation: slideBg 10s linear infinite 1s;
backface-visibility: hidden;
background-image: url('../img/1.jpg');
    height: 100vh;
    color: #fff;
}
@keyframes  slideBg{
0%{
    background-image: url('../img/2.jpg');
}
25%{
    background-image: url('../img/3.jpg');
}
50%{
    background-image: url('../img/4.jpg');
}
75%{
    background-image: url('../img/5.jpg');
}
100%{
    background-image: url('../img/6.jpg');
}
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /*overlay*/
    position: absolute;
    top:65px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0,4);
}

/*Section: what we do*/
#what .items{
    display: flex;
}
#what .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}
#what .items .item i{
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Section: who we are*/
#who{
    display: flex;
}
#who div{
    flex: 1;
}
#who .who-img{
    background: url('../img/2.jpg') no-repeat center center/cover;

}
/*section Clients*/
#clients {
    background-color: white;
}
#clients .items{
    display:  flex;
}
#clients .items img{
    display: block;
    margin: auto;
    width: 60%;
}

/*Section: Contact*/
#contact{
    display: flex ;

}
#contact .map, #contact .contact-form{
    flex: 1;
}
#contact .contact-form .form-group{
    margin: 0.75rem;
}
#contact .contact-form label{
    display: block;
}
#contact .contact-form input{
    padding: 0.75rem;
    width: 100%;
}
#contact .contact-form textarea{
    width: 100%;
    padding: 1.5rem;
}

/*  */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}